<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>
</head>
<body>
  {%extends 'extend.html'%}
  {%block content%}
  <h1>WELCOME {{name}} TO HOME</h1>
  <form action="add/num" method="post">
    {%csrf_token%}
    num1:<input type="text" name="one"><br>
    num2:<input type="text" name="two" >
    <input type="submit">
  </form>
  {%endblock%}
</body>
</html>